---
import Layout from "../layouts/Layout.astro";

import { GET as getTimer } from "./api/timer/current";
import { GET as refreshToken } from "../pages/api/auth/refresh";
import { GET as getTimersList } from "./api/timer/list";
import Timers from "../components/Timers.svelte";

if (Astro.cookies.get("accessToken") === undefined) {
  return refreshToken(Astro);
}

let response = await getTimer(Astro);
const timerData = await response.json();

response = await getTimersList(Astro);
const timersListData = await response.json();
---

<Layout title="Home">
  <main>
    <Timers
      client:load
      timer={timerData.timer}
      timers={timersListData.timers}
    />
  </main>
</Layout>
